@import "tailwindcss";

:root {
  --background: #FFF;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #ededed;
  }
}

@layer base {
  *, ::backdrop {
    margin: revert;
  }
}

body {
  display: flex;
  flex-direction: column;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border: 1px solid white;
  margin: 2px 5px;
  padding: 3px;
}
